<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <listener>
        <listener-class> com.sessionListener.SessionListener </listener-class>
    </listener>
    <listener>
        <listener-class> com.bean.MyTimer </listener-class>
    </listener>
    <servlet>
        <servlet-name>AddData</servlet-name>
        <servlet-class>com.server.AddData</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetPicture</servlet-name>
        <servlet-class>com.server.GetPicture</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteInCondition</servlet-name>
        <servlet-class>com.server.DeleteInCondition</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateData</servlet-name>
        <servlet-class>com.server.UpdateData</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CustomerOrder</servlet-name>
        <servlet-class>com.server.CustomerOrder</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteData</servlet-name>
        <servlet-class>com.server.DeleteData</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MyBabyDelete</servlet-name>
        <servlet-class>com.server.MyBabyDelete</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateEvaluate</servlet-name>
        <servlet-class>com.server.UpdateEvaluate</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddData</servlet-name>
        <url-pattern>/AddData</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetPicture</servlet-name>
        <url-pattern>/GetPicture</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteInCondition</servlet-name>
        <url-pattern>/DeleteInCondition</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateData</servlet-name>
        <url-pattern>/UpdateData</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CustomerOrder</servlet-name>
        <url-pattern>/CustomerOrder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteData</servlet-name>
        <url-pattern>/DeleteData</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MyBabyDelete</servlet-name>
        <url-pattern>/MyBabyDelete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateEvaluate</servlet-name>
        <url-pattern>/UpdateEvaluate</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Main</servlet-name>
        <servlet-class>com.servlet.Main</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Insert</servlet-name>
        <servlet-class>com.servlet.Insert</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Modify</servlet-name>
        <servlet-class>com.servlet.Modify</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Main</servlet-name>
        <url-pattern>/Main</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Insert</servlet-name>
        <url-pattern>/Insert</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Modify</servlet-name>
        <url-pattern>/Modify</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>CheckAdmin</servlet-name>
        <servlet-class>com.servlet.CheckAdmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterAdmin</servlet-name>
        <servlet-class>com.servlet.RegisterAdmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterFailAdmin</servlet-name>
        <servlet-class>com.servlet.RegisterFailAdmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterSuccessAdmin</servlet-name>
        <servlet-class>com.servlet.RegisterSuccessAdmin</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CheckAdmin</servlet-name>
        <url-pattern>/CheckAdmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterAdmin</servlet-name>
        <url-pattern>/RegisterAdmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterFailAdmin</servlet-name>
        <url-pattern>/RegisterFailAdmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterSuccessAdmin</servlet-name>
        <url-pattern>/RegisterSuccessAdmin</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
